@model Register

<div class="login-container"
    <h2>Create New User Account</h2>
    <form method="post">
        <table>
            <tr>
                <td><label asp-for="UserName"></label></td>
                <td><input type="text" asp-for="UserName" /></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input type="password" asp-for="Password" /></td>
            </tr>
            <tr>
                <td><label asp-for="ConfirmPassword"></label></td>
                <td><input type="password" asp-for="ConfirmPassword" /></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input type="text" asp-for="Email" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="">Create</button>
                </td>
            </tr>
        </table>
        <div asp-validation-summary="All" class="message"></div>

        <div class="col-6">
            <a asp-controller="security" asp-action="signin" class="btn btn-secondary">Sign-in</a>
        </div>
    </form>
 </div>
