@model Register

<div class="login-container"
    <h2>Create New User Account</h2>
    <div asp-validation-summary="ModelOnly" class="message"></div>
    <form method="post">
        <table>
            <tr>
                <td><label asp-for="UserName"></label></td>
                <td><input type="text" asp-for="UserName" /></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input type="password" asp-for="Password" /></td>
            </tr>
            <tr>
                <td><label asp-for="ConfirmPassword"></label></td>
                <td><input type="password" asp-for="ConfirmPassword" /></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input type="text" asp-for="Email" /></td>
            </tr>

            <tr>
                <td class="align-content-center">
                    <button type="submit" class="btn btn-outline-info">Create</button>
                    <a asp-controller="security" asp-action="signin" class="btn btn-outline-info">Sign-in</a>
                </td>
            </tr>
        </table>
    </form>
 </div>
