@model SignIn

    <section class="container">
        <div class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form asp-controller="Security" asp-action="SignIn" method="post" class="form-container">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input type="text" asp-for="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                    <div class="form-check">
                        <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                    <div class="btn-group btn-block" role="group">
                        <button type="submit" class="btn btn-outline-info">Sign In</button>
                        <button asp-controller="security" asp-action="register" class="btn btn-outline-info">Register</button>
                    </div>
                </form>
            </section>
        </div>
    </section>