@import url(https://fonts.googleapis.com/css?family=Comfortaa|Manjari|Montserrat|Roboto|Merienda+One&display=swap);

.homepage h1 {
    text-align: center;
    margin-top: 10%;
}

.container row {
    justify-content: center;
}

.wrap {
    text-align: center;
}

.card {
    border: none;
    width: 18rem;
    background: none;
    min-height: 45vh;
}

.card-body {
    text-align: center;
    background-color: rgba(18,18,18, 0.5);
    color: whitesmoke;
    border: none;
}

.title {
    font-size: medium;
}

.add-title {
    font-family: 'Merienda One', sans-serif;
    color: black;
    -webkit-text-stroke: 1px whitesmoke;
}

.table {
    background-color: rgba(18,18,18, 0.5);
    color:whitesmoke;
}

.edit-bg {
    background-color: rgba(18,18,18, 0.5);
    color: whitesmoke;
}

.form-container {
    position: absolute;
    top: 15vh;
    padding: 30px;
    background: rgba(18,18,18, 0.95);
    border-radius: 10px;
    color: whitesmoke;
}

.animeResult {
    position:absolute;
    padding: 15px;
}

.animeLink {
    text-decoration: none;
    transition: 0.2s;
    color:darkgray;
}

.animeLink:hover {
    color: #56F773;
    transition: 0.2s;
    text-decoration: none;
}

.animeTitle {
    text-decoration: none;
    transition: 0.2s;
    color: whitesmoke;
    font-size: medium;
}

.animeTitle:hover {
    text-decoration: none;
    transition: 0.2s;
    color: #56F773;
}

.anime-img {
    display: inline-flex;
}

.anime-info-parent {
    display: inline;
}

.anime-info {
    display: inline;
}

.animeResult {
    position:absolute;
    padding: 15px;
} 

.container {
    font-family: Arial;
}

.searched-img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-top: 5px;
}

.searched-img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.searched-body {
    min-height: 45vh;
}

.animeImg {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-top: 5px;
}

.animeImg:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.index-img{
    min-height:55%;
}

.homepage {
    margin-top: 20%;
}

.home-head {
   text-align: center;
}

.home-span {
    text-align: center;
}

.span-align {
    text-align: center;
}

.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility:hidden;
    }
}

body {
    font-family: 'Merienda One', sans-serif;
    color: black;
    background-image: url("../bannerImages/bg-img.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
}


