﻿:root {
    --add-colour: #6FDC7B;
    --edit-colour: #F2A038;
    --delete-colour: #D93030;
}

.wrap h1 {
    text-align:center;
}

.wrap {
    font-family: 'Times New Roman', Times, serif;
    color:darkgray;
}

.row {
    justify-content:center;
}

.card {
    border: none;
}

.card-body {
    text-align: center;
    background-color: rgba(18,18,18, 0.95) ;
    color: darkgray;
}

.AnimeBox {
   
}

body {
    font-family: Arial;
    color: darkgray;
    background-color: #121212;
}

