﻿:root {
    --add-colour: #6FDC7B;
    --edit-colour: #F2A038;
    --delete-colour: #D93030;
}

.container row {
    justify-content: center;
}

.wrap {
    color:darkgray;
    text-align: center;
}

.card {
    border: none;
}

.card-body {
    text-align: center;
    background-color: rgba(18,18,18, 0.95) ;
    color: darkgray;
}

div.title {
    font-size: medium;
}

.table tbody tr td {
    color: whitesmoke;
}

.table thead tr th {
    color: whitesmoke;
}

body {
    font-family: Arial;
    color: whitesmoke;
    background-color: #121212;
}

