@{
    ViewData["Title"] = "Animes";
}

    <section class="wrap">
                 
        <h1>Animes</h1>
        
            <div class="container">
                <div class="row">
                    @foreach (Anime item in Model)
                    {
                        <div class="Animebox">
                            <div class="col-sm m-2">
                                <div class="card">
                                    <div class="card-body searched">
                                        <div class="title">
                                            <p><a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID" class="animeTitle">@item.AnimeName</a></p>
                                        </div>
                                        <div class="animeImg">
                                            <a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID">
                                                <img src="~/images/@item.AnimeURL" class="index-img"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
    </section>
