@{
    ViewData["Title"] = "Home Page";
}

    <section class="wrap">
                 
        <h1>Animes</h1>
        
            <div class="container">
                <div class="row">
                    @foreach (Anime item in Model)
                    {
                        <div class="Animebox">
                            <div class="col-sm m-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title">@item.AnimeName</div>
                                        <div class="animeImg">
                                            <a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID">
                                                <img src="~/images/@item.AnimeURL" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
    </section>
