@{
    ViewData["Title"] = "Home Page";
}

    <section class="wrap">
                 
        <h1>Animes</h1>
        
            <div class="container">
                <div class="row">
                    @foreach (Anime item in Model)
                    {
                        <div class="col-sm m-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5>@item.AnimeName</h5>
                                    <div><img src="~/images/@item.AnimeURL" /></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
    </section>
