@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage">
    <h1 class="home-head">Your AnimeList</h1>
    <div class="span-align">
        <span is="type-async" id="type-text" class="home-span">...</span>
        <span class="blinking-cursor">_</span>
    </div>
</div>