@{
    ViewData["Title"] = "Search Anime";
}
    <section class="container-fluid">
        <div calss="row justify-content-center">
            <section class="col-12">
                <div class="animeResult py-2">
                    @if (ViewData["SearchString"] != null && (string)ViewData["SearchString"] != String.Empty)
                    {
                        @foreach (Anime item in Model)
                        {
                            <p><a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID" class="animeLink">@item.AnimeName</a></p>
                            <div class="animeImg">
                                <a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID">
                                    <img src="~/images/@item.AnimeURL" />
                                </a>
                            </div>
                        }
                        if (Model.Count == 0)
                        {
                            <p>Sorry no matches.</p>
                        }
                    }
                </div>
            </section>
        </div>
    </section>

