@{
    ViewData["Title"] = "Search An Anime";
}
    <section>
        <div calss="searches">
            @if (ViewData["SearchString"] != null && (string)ViewData["SearchString"] != String.Empty)
            {
                @foreach (Anime item in Model)
                {
                    <p><a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID">@item.AnimeName</a></p>
                    <div class="animeImg">
                        <a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID">
                            <img src="~/images/@item.AnimeURL" />
                        </a>
                    </div>
                }
                if (Model.Count == 0)
                {
                    <p>Sorry no matches.</p>
                }
            }
        </div>
    </section>

