@{
    ViewData["Title"] = "Search Anime";
}
<section class="container">

        @if (ViewData["SearchString"] != null && (string)ViewData["SearchString"] != String.Empty)
        {
    <div class="row">
            @foreach (Anime item in Model)
            {
                
                    <div class="col-sm-4 my-2">
                        <div class="card">
                            <div class="card-body searched-body">
                                <div class="searched-link">
                                    <p><a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID" class="animeLink">@item.AnimeName</a></p>
                                </div>
                                <div class="searched-img">
                                    <a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@item.ID">
                                        <img src="~/images/@item.AnimeURL" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            }
    </div>
            if (Model.Count == 0)
            {
                <h2 class="no-res" style="color:whitesmoke; -webkit-text-stroke: 2px black;">Sorry no matches.</h2>
            }
        }

</section>